// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.govuk-input__suffix{color:#1d70b8;background-color:#1d70b8;cursor: pointer;}
.besk-inline{
    width: 34%;
    float: left;
    clear: none;}
    .no-button{padding:0px;margin:0px;background-color:none;border:none;cursor: pointer;}
    .blueContainer{width:100%;padding:10px 0px 1px 20px;background-color:#1d70b8;color:white;height:33px;}
    .blueContainer p{color:white}
    .greyContainer{width:100%;padding:10px 0px 1px 20px;background-color:#fff;height:33px;}
    .greyContainer p{color:#1d70b8}
    a.greyContainer {text-decoration:none;}
    .blueContainer a{text-decoration:none;}
    .borderLeft{border-left-style: solid;padding-top:70px;position:relative;left:-10px;border-width: 0px 0px 0px 1px;border-color:#b1b4b6;padding-left:50px;}
    .noUnder{text-decoration:none;}
    .govuk-width-container {max-width:1120px;}
    .data__purple-block {
        display: inline-block;
        background: #912b88;
        padding: 20px;
    }
    .bold-xlarge {
        font-size: 48px;
        line-height: 1.04167;
        font-family: "nta", Arial, sans-serif;
        font-weight: 700;
        text-transform: none;
        color:#fff;
        }
    .bold-xsmall {
        font-size: 16px;
        line-height: 1.25;
        font-family: "nta", Arial, sans-serif;
        font-weight: 700;
        text-transform: none;
        color:#fff;    
    }