
{% extends "layout.html" %}

{% block pageTitle %}
ESFA admin services
{% endblock %}

{% block content %}

<a href="search-results" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-two-thirds">
     

     
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">Certificate 00011742</h1>
      <span class="govuk-caption-l">Status: Submitted</span>
      
      <!-- TABLE apprentice details start -->
      <h2 class="govuk-heading-m govuk-!-margin-top-6">Apprentice details</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Name</th>
            <td class="govuk-table__cell">Joanna Smith</td>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">ULN</th>
            <td class="govuk-table__cell">8551852222</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Funding model</th>
            <td class="govuk-table__cell"> </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Completion status</th>
            <td class="govuk-table__cell"> </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Funding type</th>
            <td class="govuk-table__cell">Private</td>
          </tr>
        </tbody>
      </table>
      <!-- TABLE apprentice details end -->

      <!-- TABLE certificate details start -->
      <h2 class="govuk-heading-m">Certificate details</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Certificate number</th>
            <td class="govuk-table__cell">00011742</td>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">EPAO</th>
            <td class="govuk-table__cell">PISA Ltd</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">EPAO ID</th>
            <td class="govuk-table__cell">EPAO340</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Standard</th>
            <td class="govuk-table__cell">Accounts / finance assistant (488)</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Level</th>
            <td class="govuk-table__cell">2</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Version</th>
            <td class="govuk-table__cell">None</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Option</th>
            <td class="govuk-table__cell">None</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Grade</th>
            <td class="govuk-table__cell">Outstanding</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Learner start date</th>
            <td class="govuk-table__cell">01/01/2010</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Achievement date</th>
            <td class="govuk-table__cell">01/01/2019</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Status</th>
            <td class="govuk-table__cell">Submitted</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date submitted</th>
            <td class="govuk-table__cell">18/03/2021 15:09:35</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Certificate receiver</th>
            <td class="govuk-table__cell">Employer</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Delivery address</th>
            <td class="govuk-table__cell">Joanna Smith<br>Human Resources<br>ONA Consulting Limited<br>	25 Townsville House<br>Townsend Avenue<br>Coventry<br>CV1 1AB</td>
          </tr>

        </tbody>
      </table>
      <!-- TABLE certificate details end -->
    </div>
  </div>

    

    <div class="govuk-grid-full-width">

      <!-- TABLE history start -->
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">History</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date and time</th>
            <th scope="col" class="govuk-table__header">Action</th>
            <th scope="col" class="govuk-table__header">User</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Batch</th>
            <th scope="col" class="govuk-table__header">Changes</th>

          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">18/03/2021 15:09:29</td>
            <td class="govuk-table__cell">Status</td>
            <td class="govuk-table__cell">PrintFunction</td>
            <td class="govuk-table__cell">Submitted</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"> </td>
          </tr>
        </tbody>
      </table>
      <!-- TABLE history end -->

      <!-- CTA -->
      <button class="govuk-button" data-module="govuk-button">
        Show all history
      </button>
      <!-- CTA -->

      <h2 class="govuk-heading-m">What do you want to do next?</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="reprint-certificate-amend">Amend certificate information</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Delete certificate</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Search for another apprentice</a>
        </li>
      </ul>

    </div>


{% endblock %}
