{% extends "layout.html" %}

{% block pageTitle %}
  EPAO record a grade
{% endblock %}

{% block main %}

{% block content %}



<div class="govuk-width-container">
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}

  <a href="check-and-submit" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <form method="post" action="send-the-certificate">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Who would you like us to send the certificate to?</h1>

<!-- RADIO BUTTONS -->
{{ govukRadios({
  idPrefix: "send-the-certificate",
  name: "send-the-certificate",
  fieldset: {
    legend: {
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "apprentice",
      text: "Apprentice"
    },
    {
      value: "employer",
      text: "Employer"
    }
  ]
}) }}
<!-- END RADIO BUTTONS -->

<!-- CTA -->
{{ govukButton({
  text: "Continue"
}) }}
<!-- END CTA -->

      </div>
    </div>



</form>

  </main>
</div>


{% endblock %}
{% endblock %}