{% extends "layout.html" %}

{% block pageTitle %}
ESFA admin services
{% endblock %}

{% block content %}



<div class="govuk-width-container">

  <a href="reprint-certificate" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <form method="post" action="confirmation">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Check and submit the assessment details</h1>
        
      <div class="govuk-inset-text">
        <p class="govuk-body">
          The apprentice and apprenticeship details will be printed on the certificate.
        </p>
      </div>

  <!-- APPRENTICE DETAILS SUMMARY -->
      <h3 class="govuk-heading-m">Apprentice details</h3>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Given name
            </dt>
            <dd class="govuk-summary-list__value">
                
                {% if data['given-name'] %}
                
                {{ data['given-name'] }}
    
                {% else %}
    
                King
    
                {% endif %}




            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                    Change
                </a>
            </dd>

        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Family name
            </dt>
            <dd class="govuk-summary-list__value">
                {% if data['family-name'] %}
                
                {{ data['family-name'] }}
    
                {% else %}
    
                Kanth
    
                {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                    Change
                </a>
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                <abbr title="Unique learner number">ULN</abbr>
            </dt>
            <dd class="govuk-summary-list__value">
                7551852222
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
        </div>
    </dl>
<!-- END APPRENTICE DETAILS SUMMARY -->

<!-- APPRENTICESHIP DETAILS SUMMARY -->
      <h3 class="govuk-heading-m">Apprenticeship details</h3>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Standard
            </dt>
            <dd class="govuk-summary-list__value">
                Accounts / finance assistant (488)
            </dd>
            <dd class="govuk-summary-list__actions"></dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Level
            </dt>
            <dd class="govuk-summary-list__value">
                2
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Version
            </dt>
            <dd class="govuk-summary-list__value">
                <span id="Option" class="govuk-error-message field-validation-valid" data-valmsg-for="Version" data-valmsg-replace="true"></span>
                1.0
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                    Change
                </a>
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Grade
            </dt>
            <dd class="govuk-summary-list__value">
                <span id="Option" class="govuk-error-message field-validation-valid" data-valmsg-for="SelectedGrade" data-valmsg-replace="true"></span>
                Outstanding
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> grade</span>
                </a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Option                   
          </dt>
            <dd class="govuk-summary-list__value">
                <span id="Option" class="govuk-error-message field-validation-valid" data-valmsg-for="Option" data-valmsg-replace="true"></span>
                None
            </dd>
            <dd class="govuk-summary-list__actions">
                
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Achievement date                    
          </dt>
            <dd class="govuk-summary-list__value">
                <span id="Option" class="govuk-error-message field-validation-valid" data-valmsg-for="AchievementDate" data-valmsg-replace="true"></span>
                01 March 2021
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> date</span>
                </a>
            </dd>
        </div>
    </dl>
<!-- END APPRENTICESHIP DETAILS SUMMARY -->

<!-- SENDING CERTIFICATE SUMMARY -->
      <h3 class="govuk-heading-m">Do you need to change the delivery details?</h3>

      <div class="govuk-inset-text">
        If you are changing the recipient from employer to apprentice, you need to change the certificate receiver.
      </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Certificate receiver
            </dt>
            <dd class="govuk-summary-list__value">
                <span id="Name" class="govuk-error-message field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>

                {% if data['send-the-certificate'] === 'apprentice' %}

                Apprentice

                {% elif data['send-the-certificate'] === 'employer' %}

                Employer

                {% else %}

                Employer

                {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="certificate-receiver">
                    Change<span class="govuk-visually-hidden"> certificate receiver</span>
                </a>
            </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Recipient's name
          </dt>
          <dd class="govuk-summary-list__value">
              <span id="Name" class="govuk-error-message field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>

              {% if data['recipient-name'] %}
                
              {{ data['recipient-name'] }}
  
              {% else %}
  
              Joanna Smith
  
              {% endif %}

          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="employer-change-address">
                  Change<span class="govuk-visually-hidden"> recipient name</span>
              </a>
          </dd>
      </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Department
            </dt>
            <dd class="govuk-summary-list__value">

                {% if data['dept-name'] %}
                
                {{ data['dept-name'] }}

                {% elif data['dept-name'] === '' %}

    
                {% else %}
    
                Human Resources
    
                {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="employer-change-address">
                    Change<span class="govuk-visually-hidden"> department</span>
                </a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Employer
            </dt>
            <dd class="govuk-summary-list__value">

                {% if data['employer-name'] %}
                
                {{ data['employer-name'] }}

                {% elif data['employer-name'] === '' %}
    
                {% else %}
    
                ONA Consulting Limited
    
                {% endif %}
            
            </dd>
            <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="employer-change-address">
                        Change<span class="govuk-visually-hidden"> employer</span>
                    </a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Address
            </dt>
            <dd class="govuk-summary-list__value">

                <!-- line 1 -->
                {% if data['employer-address-line-one'] %}
                
                {{ data['employer-address-line-one'] }}<br>
    
                {% else %}
    
                25 Townsville House<br>
    
                {% endif %}
                <!-- end line 1 -->

                <!-- line 2 -->
                {% if data['employer-address-line-two'] %}
                
                {{ data['employer-address-line-two'] }}<br>
    
                {% else %}
    
                Townsend Avenue<br>
    
                {% endif %}
                <!-- end line 2 -->

                <!-- line town -->
                {% if data['employer-address-line-town'] %}
                
                {{ data['employer-address-line-town'] }}<br>
    
                {% else %}
    
                Coventry<br>
    
                {% endif %}
                <!-- end town -->

                <!-- line postcode -->
                {% if data['employer-address-line-post-code'] %}
                
                <span style="text-transform:uppercase"> {{ data['employer-address-line-post-code'] }} </span>
    
                {% else %}
    
                CV1 1AB
    
                {% endif %}
                <!-- end postcode -->                

              
        </dd>
        <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="employer-change-address">
                    Change<span class="govuk-visually-hidden"> address</span>
                </a>
             
                
        </dd>
    </div>
<!-- END SENDING CERTIFICATE SUMMARY -->



      </div>
    </div>
<!-- CTA -->
{{ govukButton({
  text: "Confirm reprint"
}) }}
<!-- END CTA -->

      </div>
    </div>



</form>

  </main>
</div>


{% endblock %}