
{% extends "layout.html" %}

{% block pageTitle %}
ESFA admin services
{% endblock %}

{% block content %}

<a href="search" class="govuk-back-link">Search again</a>

  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-two-thirds">
          
      <form action="check-and-submit" method="post" novalidate data-validate='error-state-validation'>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Are you sure this certificate needs reprinting?</h1>

      {{ govukWarningText({
        text: "Do not request reprints with a status of 'sent to printer' or 'printed; you will need to wait until the status changes to 'delivered' or 'not delivered'.",
        iconFallbackText: "Warning"
      }) }}
      
<!-- certificate status START -->
{{ govukTable({
  firstCellIsHeader: true,
  rows: [
  [
      {
        text: "Certificate number"
      },
      {
        text: "00011742"
      }
    ],
    [
      {
        text: "Apprentice name"
      },
      {
        text: "King Kanth"
      }
    ],
    [
      {
        text: "ULN"
      },
      {
        text: "7551852222"
      }
    ],
    [
      {
        text: "Status"
      },
      {
        text: "Sent to printer"
      }
    ],
    [
      {
        text: "Date sent to printer"
      },
      {
        text: "06/09/2021 16:52:03"
      }
    ],
    [
    {
      text: "Certificate receiver"
    },
    {
      text: "Employer"
    }
  ],
    [
      {
        text: "Delivery address"
      },
      {
        html: "Joanna Smith<br>Human Resources<br>ONA Consulting Limited<br>	25 Townsville House<br>Townsend Avenue<br>Coventry<br>CV1 1AB"
      }
    ]
  ]
}) }}
<!-- certificate status END -->

<p class="govuk-body govuk-!-margin-bottom-9"></p>

<!-- ticket ref -->
<div class="govuk-form-group">
  <label class="govuk-label govuk-label--m" for="ticket-ref">
    Enter the ticket request number
  </label>
  <input class="govuk-input govuk-!-margin-bottom-6 govuk-input--width-20" id="ticket-ref" name="ticket-ref" type="text"></div>
<!-- ticket ref -->



<!-- reason for request START -->

<!-- other texbox -->
{% set otherHtml %}
{{ govukCharacterCount({
  name: "with-hint",
  id: "with-hint",
  maxlength: 200,
  label: {
    text: "Provide more detail"
  }
}) }}
{% endset -%}
<!-- end other textbox -->

{{ govukCheckboxes({
  idPrefix: "reprint-reason",
  name: "reprint-reason",
  fieldset: {
    legend: {
      text: "Reason for requesting a duplicate certificate",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Select all that apply; by giving accurate reasons you will be helping us to improve this service."
  },
  items: [
    {
      text: "Delivery failed",
      value: "certificate-not-received",
      conditional: {
        html: NotReceivedHtml
      }
    },
    {
      text: "Apprentice moved to different employer or no longer with employer",
      value: "incorrect-apprentice-details",
      conditional: {
        html: IncorrectApprenticeDetailsHtml
      }
    },
    {
      text: "Incorrect apprentice details",
      value: "incorrect-apprentice-details",
      conditional: {
        html: IncorrectApprenticeDetailsHtml
      }
    },
    {
      text: "Incorrect apprentice address",
      value: "incorrect-address",
      conditional: {
        html: IncorrectAddressHtml
      }
    },
    {
      text: "Incorrect employer address",
      value: "incorrect-address",
      conditional: {
        html: IncorrectAddressHtml
      }
    },
    {
      text: "Incorrect apprenticeship details",
      value: "incorrect-apprenticeship-details",
      conditional: {
        html: IncorrectApprenticeshipDetailsHtml
      }
    },
    {
      text: "Lost or damaged by receiver",
      value: "lost-damaged-by-receiver",
      conditional: {
        html: LostDamagedHtml
      }
    },
    {
      text: "Other",
      value: "other",
      conditional: {
        html: otherHtml
      }
    }
  ]
}) }}
<!-- reason for request END -->

      
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    

    <!-- error messages -->

    <script type="application/json" id="error-state-validation">
      { 		  
        "ticket-ref": {
          "presence": {
            "message": "^Enter the ticket reference"
          }
        },
        

           "reprint-reason": {
          "presence": {
            "message": "^Select reason(s) for requesting a duplicate certificate"
          }
        },

        "with-hint": {
          "presence": {
            "message": "^Provide more detail"
          }
        }


      }
    </script>

    <!-- error messages -->

      </main>
    </div>
    
    </div>
  </div>

{% endblock %}
