{% extends "layout.html" %}

{% block pageTitle %}
  EPAO record a grade
{% endblock %}

{% block main %}

{% block content %}



<div class="govuk-width-container">
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <form method="post" action="check-and-submit">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Confirm where we are sending the duplicate certificate</h1>

        <div class="govuk-inset-text">
          <p class="govuk-body">
           <b> {{ data['recipient-name'] }}</b><br>
            {{ data['dept-name'] }}<br>
            {{ data['employer-name'] }}<br>
            <!--line one-->

            {% if data['use-this-employer-address'] === 'yes' %}
            25 Townsville House<br>

            {% elif data['use-this-employer-address-updated'] === 'yes' %}
            {{ data['employer-address-line-one'] }}

            {% else %}

            {{ data['employer-address-line-one'] }}<br>

            {% endif %}

            <!--line one ENDS-->

            <!--line two-->

            {% if data['use-this-employer-address'] === 'yes' %}
            Townsend Avenue<br>
            

            {% else %}

            {{ data['employer-address-line-two'] }}<br>

            {% endif %}

            <!--line two ENDS-->

              <!--line town-->

              {% if data['use-this-employer-address'] === 'yes' %}
              Coventry<br>

              {% else %}

              {{ data['employer-address-line-town'] }}<br>

              {% endif %}

              <!--line town ENDS-->
                  <!--line post code-->

              {% if data['use-this-employer-address'] === 'yes' %}
              CV1 1AB<br>

              {% else %}

             <span class="uppercase"> {{ data['employer-address-line-post-code'] }}<br> </span>

              {% endif %}

              <!--line town ENDS-->
          </p>
          
        </div>
      </div>
    </div>




<!-- EDIT LINK -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<p class="govuk-body"><a href="edit-address" class="govuk-link govuk-!-margin-bottom-6">Edit</a></p>
  </div>
</div>
<!-- END EDIT LINK -->

<!-- CTA -->
{{ govukButton({
  text: "Continue"
}) }}
<!-- END CTA -->

</form>


  </main>
</div>


{% endblock %}
{% endblock %}