
{% extends "layout.html" %}

{% block pageTitle %}
ESFA admin services
{% endblock %}

{% block content %}

<a href="#" class="govuk-back-link">Search again</a>

  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-two-thirds">
     

     
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Re-print certificate</h1>

      <p class="govuk-body">Request a duplicate print of the following certificate:</p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Certificate number</th>
            <td class="govuk-table__cell">00011742</td>
          </tr>
        </thead>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Name</th>
          <td class="govuk-table__cell">King Kanth</td>
        </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">ULN</th>
            <td class="govuk-table__cell">7551852222</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Previous address certificate was sent to</th>
            <td class="govuk-table__cell">123 Test Road<br>Coventry<br>CV1 2WT</td>
          </tr>
        </tbody>
      </table>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Are the certificate details correct?
      </h1>
    </legend>
    <div id="changed-name-hint" class="govuk-hint">
      You will be able to check and amend all details before submitting for a reprint.
    </div>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Yes, send this is the correct certificate for reprinting
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          No, change where to send the reprint to
        </label>
      </div>
    </div>

  </fieldset>
</div>
    <form action="#" method="post">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    
    </div>
  </div>

{% endblock %}
