
{% extends "layout.html" %}

{% block pageTitle %}
ESFA admin services
{% endblock %}

{% block content %}

<a href="#" class="govuk-back-link">Search again</a>

  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-two-thirds">
          
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Are you sure this certificate needs reprinting?</h1>

<!-- certificate details START -->
<!-- {{ govukTable({
  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Certificate number"
      },
      {
        text: "00011742"
      }
    ],
    [
      {
        text: "Apprentice name"
      },
      {
        text: "King Kanth"
      }
    ],
    [
      {
        text: "ULN"
      },
      {
        text: "7551852222"
      }
    ]
  ]
}) }} -->

<!-- certificate details END -->

<!-- certificate status START -->
{{ govukTable({
  firstCellIsHeader: true,
  rows: [
  [
      {
        text: "Certificate number"
      },
      {
        text: "00011742"
      }
    ],
    [
      {
        text: "Apprentice name"
      },
      {
        text: "King Kanth"
      }
    ],
    [
      {
        text: "ULN"
      },
      {
        text: "7551852222"
      }
    ],
    [
      {
        text: "Certificate status"
      },
      {
        text: "Delivered"
      }
    ],
    [
      {
        text: "Date delivered"
      },
      {
        text: "06/09/2021 16:52"
      }
    ],
    [
      {
        text: "Delivered to"
      },
      {
        html: "Joanna Smith<br>1 Town Road<br> Coventry<br>CV1 1AB"
      }
    ]
  ]
}) }}
<!-- certificate status END -->

<!-- reason for request START -->
{{ govukRadios({
  idPrefix: "where-do-you-live",
  name: "where-do-you-live",
  fieldset: {
    legend: {
      text: "Reason for requesting a duplicate certificate",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      text: "Certificate not received",
      value: "certificate-not-received"
    },
    {
      text: "Incorrect address",
      value: "incorrect-address"
    },
    {
      text: "Incorrect apprentice details",
      value: "incorrect-apprentice-details"
    },
    {
      text: "Incorrect apprenticeship details",
      value: "incorrect-apprenticeship-details"
    },
    {
      text: "Lost by receiver",
      value: "lost-by-receiver"
    },
    {
      divider: "or"
    },
    {
      text: "Other",
      value: "other"
    }
  ]
}) }}
<!-- reason for request END -->


{{ govukInsetText({
  text: "You will be able to check and amend details before requesting the duplicate."
}) }}
      
    <form action="certificate-address" method="post">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    
    </div>
  </div>

{% endblock %}
