
{% extends "layout.html" %}

{% block pageTitle %}
ESFA admin services
{% endblock %}

{% block content %}

<a href="#" class="govuk-back-link">Search again</a>

  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-two-thirds">
     

     
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Request a duplicate certificate</h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Certificate number</th>
            <td class="govuk-table__cell">00011742</td>
          </tr>
        </thead>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Apprentice name</th>
          <td class="govuk-table__cell">King Kanth</td>
        </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">ULN</th>
            <td class="govuk-table__cell">7551852222</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Certificate status</th>
            <td class="govuk-table__cell">Printed</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Are you sure this certifiate needs reprinting?</h2>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                Yes, request a duplicate certificate
              </label>
            </div>      
        </fieldset>
      </div>      
      

{{ govukInsetText({
  text: "You will be able to check and amend details before requesting the duplicate."
}) }}
      
    <form action="certificate-address" method="post">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    
    </div>
  </div>

{% endblock %}
