
{% extends "layout-to-be.html" %}

{% block pageTitle %}
  Support console - Continuous improvements
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-two-thirds">
     
 <form action="initial-search" method="post" class="govuk-!-margin-bottom-9">
     
      
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Search</h1>

      <div class="govuk-form-group">
       <!--search input STARTS-->
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-30" id="initial-search-criteria" name="initial-search-criteria" type="text" spellcheck="false" value="{{ data['initial-search-criteria'] }}">
          <button data-module="govuk-button" class="no-button"><div class="govuk-input__suffix" aria-hidden="true"></div></button>
        </div>
      </div>
       <!--search input ENDS-->






      



          <!--radio selection STARTS-->
        {{ govukRadios({
          attributes: {
            'data-module': 'moj-sortable-table'
          },
          classes: "govuk-radios--inline",
          idPrefix: "initial-search",
          name: "initial-search",
          
          fieldset: {
            legend: {
              text: " ",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l",
              attributes: {
                "aria-sort": "ascending"
              }
            }
          },
         
          items: [
            {
              value: "users",
              text: "Users"
            },
            {
              value: "accounts",
              text: "Accounts",
              checked: "true"
            },
            {
              value: "uln",
              text: "ULN"
            }
          ]
        }) }}
        <a href="initial-search" class="govuk-link">Clear search</a>
         <!--radio selection ENDS-->
     </form>

     <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Results</h2>

    <p class="govuk-body">
      6 accounts found
    <p>


    
    </div>
  </div>




               <!-- TABLE - START -->
               <table class="govuk-table" id="manage-apprenticeships-table">
                <thead class="govuk-table__head">
                     <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header" onclick="sortApprenticeships(0)"><div class="sort">Account</div></th>
                          <th scope="col" class="govuk-table__header" onclick="sortApprenticeships(1)"><div class="sort">Account ID</div></th>
                          
                          <th scope="col" class="govuk-table__header non-filter"></th>
                     </tr>
                </thead>
                <tbody class="govuk-table__body">

                     <!-- TABLE ROW - ONE - START -->
                     <tr class="govuk-table__row changes-for-review live">
                          <td class="govuk-table__cell">ONA CONSULTING</td>
                          <td class="govuk-table__cell">XJ9NYR</td>
                         
                          <td class="govuk-table__cell"><a href="ona-organisations">View</a></td>
                     </tr>
                     <!-- TABLE ROW - ONE - END -->

                     <!-- TABLE ROW - TWO - START -->
                     <tr class="govuk-table__row stopped changes-pending" class="st">
                          <td class="govuk-table__cell">DIGITAL 1 CONSULTING LIMITED	</td>
                          <td class="govuk-table__cell">WJJYLK</td>
                          
                          <td class="govuk-table__cell"><a href="#">View</a></td>
                     </tr>
                     <!-- TABLE ROW - TWO - END -->

                      <!-- TABLE ROW - THREE - START -->
                      <tr class="govuk-table__row stopped changes-pending" class="st">
                        <td class="govuk-table__cell">GOLEM CONSULTING LIMITED	</td>
                        <td class="govuk-table__cell">JRJ7JR</td>
                        
                        <td class="govuk-table__cell"><a href="#">View</a></td>
                   </tr>
                   <!-- TABLE ROW - THREE - END -->

                    <!-- TABLE ROW - THREE - START -->
                    <tr class="govuk-table__row stopped changes-pending" class="st">
                      <td class="govuk-table__cell">NOV CONSULTING LIMITED		</td>
                      <td class="govuk-table__cell">JJ8YLX</td>
                      
                      <td class="govuk-table__cell"><a href="#">View</a></td>
                 </tr>
                 <!-- TABLE ROW - THREE - END -->

                 <!-- TABLE ROW - THREE - START -->
                 <tr class="govuk-table__row stopped changes-pending" class="st">
                  <td class="govuk-table__cell">RAJ & CO. CONSULTING LIMITED		</td>
                  <td class="govuk-table__cell">MM7GDB</td>
                  
                  <td class="govuk-table__cell"><a href="#">View</a></td>
             </tr>
             <!-- TABLE ROW - THREE - END -->

             <!-- TABLE ROW - THREE - START -->
             <tr class="govuk-table__row stopped changes-pending" class="st">
              <td class="govuk-table__cell">SLE CONSULTING SERVICES LIMITED		</td>
              <td class="govuk-table__cell">W8VLGV</td>
              
              <td class="govuk-table__cell"><a href="#">View</a></td>
         </tr>
         <!-- TABLE ROW - THREE - END -->

                </tbody>
           </table>
           <!-- TABLE - END -->














    </div>
  </div>

{% endblock %}
