
{% extends "layout-to-be.html" %}

{% block pageTitle %}
  Support console - Continuous improvements
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-whole">
     
 <form action="initial-search" method="post" class="govuk-!-margin-bottom-9">
     
      
      <h1 class="govuk-heading-l govuk-!-margin-bottom-6">ONA CONSULTING LTD
        <span class="govuk-caption-l">Account ID XJ9NYR, created 21/10/2019</span>
      </h1>
      <span class="govuk-caption-l govuk-!-margin-bottom-6">
        Levy status {{ govukTag({
          text: "levy",
          classes: "govuk-tag--blue"
        }) }}
        <br>
        Numerical account ID 123445
      </span>
        
      
      

         
     
       
     
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
           <a href="#" class="noUnder"> <div class="greyContainer">
               <p>Organisations</p>
            </div></a>
            <a href="ona-finance" class="noUnder"><div class="greyContainer">
              <p>Finance</p>
            </div></a>
            <a href="ona-team-members" class="noUnder"><div class="greyContainer">
              <p>Team members</p>
            </div></a>
            <a href="ona-commitments" class="noUnder"><div class="greyContainer">
              <p>Commitments</p>
            </div></a>
            <a href="ona-providers" class="noUnder"><div class="blueContainer">
              <p>Training providers</p>
            </div></a>
          </div>
        

    
          <div class="govuk-grid-column-three-quarters ">
              <div class="borderLeft">
                <h2 class="govuk-heading-l">Training providers</h2>
                
                 
                          {{ govukTable({
                            
                            captionClasses: "govuk-table__caption--m",
                            firstCellIsHeader: false,
                            head: [
                              {
                                text: "Training provider",
                                classes: 'govuk-!-width-one-third'
                              },
                              {
                                text: "Add apprentice permissions",
                                classes: 'govuk-!-width-one-third'
                              },
                              
                              {
                                text: "Recruit apprentice permissions",
                                classes: 'govuk-!-width-one-third'
                              }
                            ],
                            rows: [
                              [
                              
                                {
                                  text: "EDUC8 TRAINING (ENGLAND) LIMITED"
                                },
                                {
                                  text: "Allow"
                                },
                                {
                                  text: "Do not allow"
                                }
                                
                              ],
                              [
                              
                                {
                                  text: "SOUTHAMPTON ENGINEERING TRAINING ASSOCIATION LIMITED (THE)"
                                },
                                {
                                  text: "Allow"
                                },
                                {
                                  text: "Allow, but I want to review job adverts before they’re advertised"
                                }
                                
                              ]
                              
                            ]
                          }) }}

            </div>

      </form>
      </div>
    </div>
    </div>

    </div>
  </div>

{% endblock %}
