
{% extends "layout.html" %}

{% block pageTitle %}
ESFA admin services
{% endblock %}

{% block content %}

<a href="#" class="govuk-back-link">Search again</a>

  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-two-thirds">
     

     
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Certificate address</h1>

      <p class="govuk-body">The previous certificate was send here:</p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Recipient's name</th>
            <td class="govuk-table__cell">Joanna Smith</td>
          </tr>
        </thead>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Department name</th>
          <td class="govuk-table__cell">Human resources</td>
        </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Employer name</th>
            <td class="govuk-table__cell">ONA Consulting Limited</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Address</th>
            <td class="govuk-table__cell">
              14 Thorne House<br>
              Townsend Avenue<br>
              Coventry<br>
              CV1 1AB
            </td>
          </tr>

        </tbody>
      </table>

      <form action="address-details-correct" method="post">

      {{ govukRadios({
        idPrefix: "address-details-correct",
        name: "address-details-correct",
        fieldset: {
          legend: {
            text: "Is this the correct address details to send the reprint to?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes, this is the correct details"
          },
          {
            value: "No",
            text: "No, I need to change where the reprint is to be sent to"
          }
        ]
      }) }}

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    
    </div>
  </div>

{% endblock %}
