
{% extends "layout.html" %}

{% block pageTitle %}
  Support console - Continuous improvements
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Continuous improvements</span>
        Support console
      
      </h1>

      
<!--main accordian STARTS-->
            {{ govukAccordion({
              id: "accordion-with-summary-sections",
              items: [
                {
                  heading: {
                    text: "Certificate reprint - ESFA admin services "
                  },
                  summary: {
                    text: "Design changes in EPAO for certifiate address, mirrored for staff requesting reprint"
                  },
                  content: {
                    html:
                    ' <h2 class="govuk-heading-m">CIDES-340 Reprint issues - address</h2>
                    <ul class="govuk-list govuk-list--bullet">
                       
                        <li class="govuk-!-margin-bottom-3">
                          <a class="govuk-link" href="https://skillsfundingagency.atlassian.net/browse/CIDES-340" target="_blank">CIDES-340 Design options for reprint issue - Address (opens in a new tab)</a>
                        </li>
                        <li class="govuk-!-margin-bottom-3">
                          <a class="govuk-link" href="https://lucid.app/lucidspark/invitations/accept/inv_193d8fff-6e47-448e-8041-29a55df24334" target="_blank">Lucid board (opens in a new tab)</a>
                        </li>
                        <li class="govuk-!-margin-bottom-3">
                          <a class="govuk-link" href="https://miro.com/app/board/o9J_l3VbF1c=/" target="_blank">Miro board (opens in a new tab)</a>
                        </li>
                        <li class="govuk-!-margin-bottom-3">
                          <a class="govuk-link" href="340/search"><b>Start prototype - scenerio 1</b></a>
                        </li>
                        <li class="govuk-!-margin-bottom-3">
                          <a class="govuk-link" href="340/v2/check-and-submit"><b>Start prototype - scenerio 2</b></a>
                        </li>
                       
                    </ul>'
                  }
                },
                   
                
                {
                  heading: {
                    text: "Support console 2021 "
                  },
                  summary: {
                    text: "Improvements made within 2021 to the console and its content"
                  },
                  content: {
                    html:
                    ' <h2 class="govuk-heading-m">CIDES-350 Create designs for Support Console</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        
                          
                       
                        <li class="govuk-!-margin-bottom-3">
                          <a class="govuk-link" href="https://skillsfundingagency.atlassian.net/browse/CIDES-350" target="_blank">CIDES-350 Create designs for Support Console (opens in a new tab)</a>
                        </li>
                        <li class="govuk-!-margin-bottom-3">
                          <a class="govuk-link" href="https://lucid.app/lucidspark/5bb0fe80-0d03-4d13-bcdb-7f124fc5891f/edit?beaconFlowId=E4515B8B81FDEDD0#" target="_blank">Lucid board (opens in a new tab)</a>
                        </li>
                        <li class="govuk-!-margin-bottom-3">
                          <a class="govuk-link" href="350/tier1/initial-search"><b>Tier 1 user</b> - As-is prototype (additional question on finance page)</a>
                        </li>
                        <li class="govuk-!-margin-bottom-3">
                          <a class="govuk-link" href="350/tier2/initial-search"><b>Tier 2 user</b> - As-is prototype</a>
                        </li>
                       
                    </ul>
                    
                     <h3 class="govuk-heading-m">
                       To be designs
                     </h3>  
                     <ul class="govuk-list govuk-list--bullet">
                      <li class="govuk-!-margin-bottom-3">
                        <a class="govuk-link" href="350/to-be/tier2/initial-search"><b>Tier 2 user</b></a>
                      </li>
                      <li class="govuk-!-margin-bottom-3">
                        <a class="govuk-link" href="350/to-be/tier2/apprentice-details-alt-views"><b>Apprentice details - alt views</b></a>
                      </li>
                     </ul>'
                  }
                }
                 
              ]
            }) }}

      <!--main accordian ENDS-->
    </div>
  </div>

{% endblock %}
