
{% extends "layout.html" %}

{% block pageTitle %}
  Support console - Continuous improvements
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Continuous improvements</span>
        Support console
      
      </h1>

      <!--main accordian STARTS-->
      

      {{ govukAccordion({
        id: "accordion-with-summary-sections",
        items: [
          {
            heading: {
              text: "Support console 2021 "
            },
            summary: {
              text: "Improvements made within 2021 to the console and its content"
            },
            content: {
              html:
              '<ul class="govuk-list">
                  <li>
                    <h2 class="govuk-heading-m">CIDES-350 Create designs for Support Console</h2>
                  </li>
                  <li>
                    <a class="govuk-link" href="https://skillsfundingagency.atlassian.net/browse/CIDES-350" target="_blank">CIDES-350 Create designs for Support Console (opens in a new tab)</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="https://lucid.app/lucidspark/5bb0fe80-0d03-4d13-bcdb-7f124fc5891f/edit?beaconFlowId=E4515B8B81FDEDD0#" target="_blank">Lucid board (opens in a new tab)</a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">As-is prototype - Yet to be built</a>
                  </li>
              </ul>'
            }
          }
                  
           
        ]
      }) }}
      <!--main accordian ENDS-->
    </div>
  </div>

{% endblock %}
