
{% extends "layout.html" %}

{% block pageTitle %}
  Support console - Continuous improvements
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-whole">
     
 <form action="uln-or-cohort" method="post" class="govuk-!-margin-bottom-9">
     
      
      <h1 class="govuk-heading-l govuk-!-margin-bottom-6">ONA CONSULTING LTD
        <span class="govuk-caption-l">Account ID XJ9NYR, created 21/10/2019</span>
      </h1>
        
      
      

         
     
       
     
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
           <a href="ona-organisations" class="noUnder"> <div class="greyContainer">
               <p>Organisations</p>
            </div></a>
            <a href="ona-finance" class="noUnder"><div class="greyContainer">
              <p>Finance</p>
            </div></a>
            <a href="ona-team-members" class="noUnder"><div class="greyContainer">
              <p>Team members</p>
            </div></a>
            <a href="ona-commitments" class="noUnder"><div class="blueContainer">
              <p>Commitments</p>
            </div></a>
          </div>
        

    
          <div class="govuk-grid-column-three-quarters ">
              <div class="borderLeft">
                <h2 class="govuk-heading-l">Search</h2>
                
                {{ govukInput({
                  classes: "govuk-input--width-30",
                  id: "event-name",
                  name: "event-name"
                }) }}
                        
                


                {{ govukButton({
                  text: "Search",
                  classes: "govuk-input--width-30"
                }) }}




                {{ govukRadios({
                  classes: "govuk-radios--inline",
                  idPrefix: "uln-or-cohort",
                  name: "uln-or-cohort",
                  fieldset: {
                    legend: {
                      text: "",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--l"
                    }
                  },
                  
                  items: [
                    {
                      value: "uln",
                      text: "ULN"
                    },
                    {
                      value: "cohort-ref",
                      text: "Cohort Ref"
                    }
                  ]
                }) }}

            </div>

      </form>
      </div>
    </div>
    </div>

    </div>
  </div>

{% endblock %}
